/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.icolog {
  color: red;
  font-size: 26px;
}

.icolog:hover {
  color: red;
}

body {
  overflow-x: hidden;
}

.image-header {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.text-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
